
  <!-- left -->
  <div>
  	<div *ngFor="let s of a.templates">
  		{{s.name}}
  	</div>
    <input type="text" placeholder="url" [(ngModel)]="page.url" ><br>
    <input type="text" placeholder="title" [(ngModel)]="page.title" ><br>
    <textarea placeholder="description" [(ngModel)]="page.description"></textarea><br>
	<input type="text" name="keywords" placeholder="keywords"><br>

    <!-- <input type="image" name="image" placeholder="image"> -->

  </div>
  <!-- right -->
  <div>
    <!-- editor will be soon -->
  </div>
  <button >Save</button>

<!-- 
url
title
description
keywords
image
text 
-->