<div class="table">
	<div class="row">
		<a class="topbar" href="/">
			<i class="icon icon-logo"></i>
			<span>Memo Wallet</span>
		</a>
	</div>

	<div class="frow">
		<div class="article">
			<trix-editor ng-model="page.html" angular-trix trix-change="update(page);" placeholder="Write something.."></trix-editor>
		</div>
	</div>

	<div class="row">
		<div class="footer">
			<div class="first">
				<span>&copy;</span>
				<a href="/">twins.mustbein.life</a>
			</div>
			<div class="second">
				<span>Follow Us On</span>
				<a href="/"><i class="icon icon-fb"></i></a>
				<a href="/"><i class="icon icon-tumblr"></i></a>
				<a href="/"><i class="icon icon-vk"></i></a>
			</div>
		</div>
	</div>
</div>
